<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-9">
                            <h3 class="box-title">Users</h3>
                        </div>
                        <div class="col-md-3 rightalign">
                            <a href="/users/create" class="btn btn-primary">Create User</a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    {{#if message}}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success">{{message}}</div>
                        </div>
                    </div>
                    {{/if}}
                    <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Postcode</th>
                            <th>Phone No</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        {{#if users}}
                        {{#each users}}
                        <tr>
                            <td>{{this.first_name}} {{this.last_name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.street_address_1 }} {{this.street_address_2}}</td>
                            <td>{{this.city}}</td>
                            <td>{{this.country}}</td>
                            <td>{{this.postcode}}</td>
                            <td>{{this.phone_no}}</td>
                            <td>{{{statusFunc this.status}}}</td>
                            <td>
                                <a href="/users/edit/{{this.id}}" class="">Edit</a>
                                <form class="form-horizontal" method="post" action="/users/delete/{{this.id}}" id="userDeleteForm">
                                    <input type="hidden" name="id" value="{{this.id}}" />
                                    <a href="#" onclick="document.getElementById('userDeleteForm').submit();">Delete</a>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                        {{else}}
                        <tr>
                            <td colspan="9">No Users Record found</td>
                        </tr>
                        {{/if}}
                    </table>
                </div>
                {{#if pages}}
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {{{pagination pages page 'users'}}}
                    </ul>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</section>